<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Arduino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="model" value="NANO"/>
    <add key="baud" value="9600"/>
    <add key="port" value="COM3"/>
    <add key="led1" value="led1Pin"/>
    <add key="led2" value="led2Pin"/>
    <add key="relay" value="relayPin"/>
    <add key="high1" value="HIGH"/>
    <add key="low1" value="LOW"/>
    <add key="high2" value="HIGH"/>
    <add key="low2" value="LOW"/>
    <add key="high3" value="HIGH"/>
    <add key="low3" value="LOW"/>
    <add key="led3" value="led3Pin"/>
    <add key="high4" value="HIGH"/>
    <add key="low4" value="LOW"/>
    <add key="led4" value="led4Pin"/>
    <add key="high5" value="HIGH"/>
    <add key="low5" value="LOW"/>
    <add key="led5" value="led5Pin"/>
    <add key="high6" value="HIGH"/>
    <add key="low6" value="LOW"/>
    <add key="led6" value="led6Pin"/>
    <add key="high7" value="HIGH"/>
    <add key="low7" value="LOW"/>
    <add key="led7" value="led7Pin"/>
    <add key="high8" value="HIGH"/>
    <add key="low8" value="LOW"/>
  </appSettings>
   
  <userSettings>
    <Arduino.Properties.Settings>
      <setting name="dil" serializeAs="String">
        <value>Türkçe</value>
      </setting>
    </Arduino.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
